

body{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: #80d2f2b9;
    min-width: 320px;
    font-weight: 400;
}

h1, h2, h3,h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

main{
    background-color: #ffffff;
    margin: auto;
    padding: 10px;
    min-width: 1200px;
    max-width: 350px;
}

.cabecalho{
    background-color: #000547;
    height: 200px;
    display: flex;
}

.menu{
    display: flex;
    align-items: flex-end;
    
}
.menu a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;    
}

.telefone{
    color: white;
    font-size: 50px;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    padding-left: 50px;
}

.menu :hover{
    background-color: #80D2F2;
    color: #030759;
    border-radius: 10px;
}

.link-texto{
    color: #d80606;
}

p{
    text-indent: 10px;
    text-align: justify;
}

aside{
    background-color: #80D2F2;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #0000002c;
    padding-bottom: 20px;
}

aside > h3{
    background-image: linear-gradient(#010c40c0, #80D2F2);
    background-color: #419FD9;
    border-radius: 10px 10px 0px 0px;
    padding-left: 25%;
}

.especialidades{
    columns: 2;
    list-style-position: inside;
}

.galeria > img{
    width: 100%;
 }

 footer{
    text-decoration: none;
    background-color: #000547;
    height: 20px;
    min-width: 320px; 
    padding-top: 5px;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 20px;
 }

 footer a{
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    padding-right: 5px;
    
 }



